In [ ]:
'''
Question1:

Write a program to the largest number from the list given below:

listExample1 = [8,9,13,2,3,99,6,7,4,3]

'''

In [3]:
listExample1 = [8,9,13,2,3,99,6,7,4,3]
max(listExample1)

99

In [ ]:
'''
Question2:

Write a program to sum all the items from the list given below:

listExample2 = [9,8,7,6,5,4,3]

'''

In [4]:
listExample2 = [9,8,7,6,5,4,3]
sum(listExample2)

42

In [ ]:
'''
Question3:

Write a program to remove duplicate values from the list given below:

listExample3 = [1,1,1,2,3,44,44,9,9,1,4,44]

'''

In [5]:
listExample3 = [1,1,1,2,3,44,44,9,9,1,4,44]

In [7]:
s = set(listExample3)

In [8]:
listExample3 = list(s)

In [9]:
listExample3

[1, 2, 3, 4, 9, 44]